# Do not forward ssh agent socket by default
ForwardAgent no

# Share multiple sessions over single network connection
# auto - try to use master connection, fall back if one does not exist
ControlMaster auto
# %l - local host name(with domain_name), %r - remote user, %h - remote host, %p - remote port, %C - hash of %l%h%p%r
ControlPath ~/.ssh/control%C_%r_%h_%p
# Master connection remain open in background for specified time
ControlPersist no
